<header>
    <nav>
        <a href="/admin/users">All User</a>
        <a href="/admin/products">All Products</a>
    </nav>
    
    <div>
        <h4>Admin Panel</h4>
        <div class="dropdown">
            <img class="rounded" src="<%=user.image%>" alt="User Image" width="24" height="24" />
            <div class="dropdown-content">
                <a href="/profile/<%=user.id%>">Profile</a>
                <h2><%=user.email%></h2>
                <p><%=user.role%></p>
            </div>
        </div>
        <div>
            <a class="cart" href="/cart">
                <img src="/photos/cart.png" alt="Cart" width="32" height="32">
            </a>
        </div>
        <a href="/logout">loggin out</a>
    </div>
</header>