<%if(isLogged){%>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Products</a>
        </nav>

        <div>
            <div class="dropdown">
                <img src="/photos/profile.png" alt="profile">
                <div class="dropdown-content">
                    <a href="/profile/<%=user.id%>">Profile</a>
                    <h2><%=user.email%></h2>
                    <p><%=user.role%></p>
                </div>
            </div>

            <a href="/logout">loggin out</a>
        </div>
    </header>
<%} else {%>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/products">Products</a>
        </nav>

        <div>
            <form action="/login" method="POST">
                <%if(errors.message) {%>
                    <p class="error"><%=errors.message%></p>
                <%}%>
                <input type="email" name="email" placeholder="email">
                <input type="password" name="password" placeholder="password">
                <button type="submit">Login</button>
            </form>

            <a href="/signup">Sign Up</a>
        </div>
    </header>
<%}%>
