*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.299);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

header form{
    display: flex;
    flex-direction: row;
}
header div {
    padding-right: 20px;
    display: flex;
    column-gap: 12px;
    align-items: center;
}

header div a{
    color: blue;
    text-wrap: nowrap;
}

header div a:hover{
    color: aquamarine;
}
nav{
    width: 100%;
    padding: 40px 20px 20px; 
    display: flex;
    gap: 20px;
    /* border: 2px solid red; */
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    font-size: 22px;
}

nav a:hover{
    color: aqua;
}

.signup{
    background-color: coral;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup h2, .login h2{
    margin: 20px;
}

.login{
    background-color: chartreuse;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

form input{
    padding: 8px;
    border-radius: 8px;
}
form button{
    padding: 8px;
    width: fit-content;
    cursor: pointer;
    border-radius: 4px;
}


.error{
    color: red;
    font-size: 20px;
    background-color: rgb(234, 232, 232);
    padding: 4px;
    margin-bottom: 4px;
}
.products-cnt{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 12px;
}
.product-wrap{
    border: 2px solid saddlebrown;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 10px;
  padding-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
