*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 0, 0, 0.299);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

header form{
    display: flex;
    flex-direction: row;
}
header div {
    padding-right: 20px;
    display: flex;
    column-gap: 12px;
    align-items: center;
}

header div a{
    color: blue;
    text-wrap: nowrap;
}

header div a:hover{
    color: aquamarine;
}
nav{
    width: 100%;
    padding: 40px 20px 20px; 
    display: flex;
    gap: 20px;
    /* border: 2px solid red; */
}
h1{
    text-align: center;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
}
nav a{
    color: white;
    font-size: 22px;
}

nav a:hover{
    color: aqua;
}

.signup{
    background-color: coral;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup h2, .login h2{
    margin: 20px;
}

.login{
    background-color: chartreuse;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

form input{
    padding: 8px;
    border-radius: 8px;
}
form button{
    padding: 8px;
    width: fit-content;
    cursor: pointer;
    border-radius: 4px;
}


.error{
    color: red;
    font-size: 20px;
    background-color: rgb(234, 232, 232);
    padding: 4px;
    margin-bottom: 4px;
}
.products-cnt{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 12px;
}
.product-wrap{
    border: 2px solid saddlebrown;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
  right: 10px;
  padding-bottom: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.profile{
    width: 48%;
    margin: auto;
    border: 2px solid lightcoral;
    background-color: bisque;
    display: grid;
    place-items: center;
    padding: 20px 0;
}
.signup-forgot{
    display: flex;
    flex-direction: column;
}
.add-product{
    width: fit-content;
    border: 2px solid green;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.add-product textarea{
    width: 180px !important;
    max-height: 100px;
}
.product-item{
    margin: 20px;
}
.wrapper{
    width: 300px;
    margin: auto;
    border: 2px solid green;
    padding: 30px;
}
.error-message {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    right: 50%;
    width: 300px;
    padding: 10px;
    background-color: rgb(102, 97, 97);
    border: 1px solid rgb(11, 213, 142);
    color: rgb(171, 42, 42);
    text-align: center;
    z-index: 10;
    opacity: 0;
    animation: showError 3s ease-out;
}

.rounded{
    border-radius: 50%;
}
.autor{
    font-size: 20px;
    font-weight: 700;
    color: black;
    text-transform: capitalize;
}
/* Keyframes to animate fade in and fade out */
@keyframes showError {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    10% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}
